{% extends 'base.html' %}
{% load static %}

{% block page_links %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock  %}

{% block page_title %}Add Question{% endblock %}


{% block page_body %}

{% include "polls/includes/header.html" %}


    <form action="{% url 'polls:newques' %}" method="post">
        {% csrf_token %}
        <fieldset>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <legend><h1>Add new question</h1></legend>
            <label for="">New Question</label>
            <input type="text" name="new_ques">
        </fieldset>

        <input type="submit" value="Add" id="">
</form>{% endblock%}